
module my-sdremount 1.0;

require {
	type fs_t;
	type container_t;
	class filesystem remount;
}

#============= container_t ==============
allow container_t fs_t:filesystem remount;
