
module my-systemd 1.0;

require {
	type proc_t;
	type session_dbusd_tmp_t;
	type cgroup_t;
	type init_t;
	type container_t;
	type spc_t;
	class dir { add_name create mounton read remove_name rmdir write };
	class file write;
	class bpf { map_create map_read map_write prog_load prog_run };
}

#============= container_t ==============

#!!!! This avc is allowed in the current policy
allow container_t cgroup_t:dir { add_name create remove_name rmdir write };

#!!!! This avc is allowed in the current policy
allow container_t cgroup_t:file write;
allow container_t proc_t:dir mounton;

#============= init_t ==============

#!!!! This avc is allowed in the current policy
allow init_t session_dbusd_tmp_t:dir { read remove_name rmdir write };

#============= spc_t ==============

#!!!! This avc is allowed in the current policy
allow spc_t self:bpf { map_create map_read map_write prog_load prog_run };
