[Unit]
Description=Samba Active Directory Domain Controller Service for running samba-dc in container under systemd.
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/local/bin/samba-start 2>&1 | /usr/bin/tee -a /var/lib/samba/samba-start.log'
RemainAfterExit=true
ExecStop=/bin/touch /var/lib/samba/shutdown-request
StandardOutput=journal

[Install]
WantedBy=multi-user.target
