[Unit]
Description=Samba Active Directory Domain Controller Service for running samba-dc in container under systemd.
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/local/bin/samba-start'
ExecStop=/bin/touch /var/lib/samba/shutdown-request
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
