[Unit]
Description=Samba AD Daemon
Documentation=man:samba(8) man:samba(7) man:smb.conf(5)
Wants=network-online.target
After=network.target network-online.target

[Service]
Restart=on-failure
RestartSec=120
LimitNOFILE=16384
##EnvironmentFile=-/etc/sysconfig/samba
##Environment=KRB5CCNAME=FILE:/run/samba/krb5cc_samba
ExecStartPre=-/usr/bin/mkdir -p        /srv/samba/var
ExecStartPre=-/usr/bin/chmod 775       /srv/samba/var
ExecStartPre=-/usr/bin/chown root:root /srv/samba/var
ExecStartPre=-/usr/bin/chmod 775       /srv/samba
ExecStartPre=-/usr/bin/chown root:root /srv/samba
ExecStartPre=-/usr/bin/podman rm -f --cidfile /%t/samba-cid
##ExecStart=/usr/sbin/samba --foreground --no-process-group $SAMBAOPTIONS
ExecStart=/usr/bin/podman run --conmon-pidfile /%t/samba-pid --cidfile /%t/samba-cid \
 --privileged --net host \
 -v ${BASE}/var:/var/lib/samba \
 --name samba-dc -d lochnerr/samba-dc
ExecStop=/usr/bin/podman rm -f --cidfile /%t/samba-cid
KillMode=none
Type=forking
PIDFile=/%t/samba-pid

[Install]
WantedBy=multi-user.target

